header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloPrincipal, .subtitulo {
    color: rgb(236, 236, 236);
}

.tituloPrincipal {
    padding: 8px;
    margin-top: 24px;
}

.subtitulo {
    padding: 12px;
}
