* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    justify-content: center;
    background-color: #130f40;
    color: #b4b6f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 640px) {
    .container {
        max-width: 95%;
    }
}